__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

.vscode/
.idea/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

data/external/*.pkl
data/external/*.nii.gz
data/external/*.vcf

*.log
log.txt
accuracy_*.png
loss_*.png
models_saved/
*.h5
*.hdf5
*.keras

*.csv
*.pkl
*.npy
*.npz
*.nii
*.nii.gz
*.vcf
*.vcf.gz

demo.ipynb
demo_data/

# Hasil eksperimen Tesis
results/
